extends ../layout
block css
  link(rel="stylesheet", href="/stylesheets/hr.css")
  include ../includes/swiper.pug
block nav
  include ../includes/nav.pug
    block navbar
        ul.nav.navbar-nav.navbar-right
            li
                a(href='/') 首页    
            li
                a(href="/product") 名品商城
            li
                a(href="/entityShop") DUY
            li
                a(href="/about")  关于我们
            li
                a(href="/join")  合作招募
            li.active
                a(href="/hr")  诚聘英才
                .selected 
            li
                a(href="/oa")  OA办公
block content
  img.barPic(src="/images/pageBanner/job.jpg", alt="")
    //- 导航 搜索框
  .container.shadow
    .topBar.clearfix
      ol._breadcrumb.pull-left
        li
            a(href="/") 首页 
            |  
        li.active 诚聘英才
      //- .searchWrap.pull-right
      //-   .pull-left
      //-     .btn-group
      //-       .btn.btn-default.dropdown-toggle.cate-btn(data-toggle="dropdown")
      //-           | 全部 
      //-           span.caret
      //-       ul.dropdown-menu
      //-         li
      //-           a(href="#") 分类一
      //-         li
      //-           a(href="#") 分类二
      //-   .input-wrap.pull-left
      //-     input(type="text", placeholder="搜索职位关键字")
      //-   .search-wrap
      //-     button.btn.btn-default
      //-       span.glyphicon.glyphicon-search
    h1.tit.mt-50
      | 热招工作岗位    
      .small COMFORTABLE  ENVIRONMENT  
    each job, index in jobs
      .row.mt-50
        if index%2 == 0
          .col-lg-6
            img(src="/images/job/"+ job.img, alt="").img-responsive
          .col-lg-6.job
            h2.job-title.wow.bounceInUp  #{job.title}
            .row.mt-50.wow.bounceInRight
              .col-xs-4  工作地点: #{job.workplace}
              .col-xs-4  职位月薪: #{job.salary}
              .col-xs-4  发布日期: #{job.release}
              .col-xs-4  工作性质: #{job.nature}
              .col-xs-4  工作年限: #{job.service}
              .col-xs-4  最低学历: #{job.education}
            dl.wow.bounceInRight(data-wow-delay="0.5s")
              dt 职位描述: 
              dd #{job.description.join(" ")}
              dt 任职要求: 
              dd #{job.requirement.join(" ")}
            a(href="http://company.zhaopin.com/CZ681240130.htm", target="_blank").btn.btn-danger  申请职位
        else
          .row.mt-50
            .col-lg-6.job
              h2.job-title.wow.bounceInUp  #{job.title}
              .row.mt-50.wow.bounceInRight
                .col-xs-4  工作地点: #{job.workplace}
                .col-xs-4  职位月薪: #{job.salary}
                .col-xs-4  发布日期: #{job.release}
                .col-xs-4  工作性质: #{job.nature}
                .col-xs-4  工作年限: #{job.service}
                .col-xs-4  最低学历: #{job.education}
              dl.wow.bounceInRight(data-wow-delay="0.5s")
                dt 职位描述: 
                dd #{job.description.join(" ")}
                dt 任职要求: 
                dd #{job.requirement.join(" ")}
              a(href="http://company.zhaopin.com/CZ681240130.htm", target="_blank").btn.btn-danger  申请职位
            .col-lg-6
              img(src="/images/job/"+ job.img, alt="").img-responsive


    
  script.
    new WOW().init();
  
    

      
    
