extends ../layout
block css
  link(rel="stylesheet", href="/stylesheets/style.css")

block nav
  include ../includes/nav.pug
    block navbar
        ul.nav.navbar-nav.navbar-right
            li.active
                a(href='/') 首页
                .selected    
            li
                a(href="/product") 产品介绍   
            li
                a(href="/entityShop") DUY生活馆
            li
                a(href="/about")  关于我们
            li
                a(href="/join")  合作招募
            li
                a(href="/hr")  诚聘英才
            li
                a(href="/oa")  OA办公
block content
  #banner.carousel.slide(data-ride='carousel', data-pause="null", data-interval="3000")
    // Indicators
    ol.carousel-indicators
      li.active(data-target='#banner', data-slide-to='0')
      li(data-target='#banner', data-slide-to='1')
      li(data-target='#banner', data-slide-to='2')
      li(data-target='#banner', data-slide-to='3')
      li(data-target='#banner', data-slide-to='4')
    // Wrapper for slides
    .carousel-inner(role='listbox')
      .item.active
        img(src='/images/banner/1.jpg', alt='...')
        .carousel-caption
      .item
        img(src='/images/banner/2.jpg', alt='...')
        .carousel-caption
      .item
        img(src='/images/banner/3.jpg', alt='...')
        .carousel-caption
      .item
        img(src='/images/banner/5.jpg', alt='...')
        .carousel-caption
      .item
        img(src='/images/banner/4.jpg', alt='...')
        .carousel-caption
    // Controls
    a.left.carousel-control(href='#banner', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only Previous
    a.right.carousel-control(href='#banner', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only Next
  .container
    // 产品
    .block
      .header
        .title 
          | CHANPINZHANSHI
          .title-text 产品展示    
        ul.row.prod-tabs
          li.col-lg-2.col-xs-3.hidden-xs(role='presentation')
          each cate, index in data
            if index == 0
              li.col-lg-2.col-xs-3.active.cate(role='presentation')
                a(href="#tab" + Number(index+1),  data-toggle="tab").cate-name
                  | #{cate.title}
                  br
                  span.hidden-xs #{cate.subTitle}
                img(src="/images/cateBg.png", alt="")
            else
              li.col-lg-2.col-xs-3.cate(role='presentation')
                a(href="#tab" + Number(index+1),  data-toggle="tab").cate-name
                  | #{cate.title}
                  br
                  span.hidden-xs #{cate.subTitle}
                img(src="/images/cateBg.png", alt="")
        
          li.col-lg-2.col-xs-3.active.hidden-xs(role='presentation')
        .tab-content
          each list, index in data
            if(index == 0)
              div(id="tab" + Number(index+1)).tab-pane.fade.in.active.row
                each item in list.list
                  .col-lg-2.col-xs-6.col-md-4.product
                    div
                      img.img-responsive.center-block(src="/images/productShow" + item.img, alt= item.productName)
                      .product-title.text-hidden(data-toggle="tooltip", data-placement="top", title=item.productName)  #{item.productName}
                      .line
                      .product-title  #{item.branchName}
            else 
              div(id="tab" + Number(index+1)).tab-pane.fade.in.row
                each item in list.list
                  .col-lg-2.col-xs-6.col-md-4.product
                    div
                      img.img-responsive.center-block(src="/images/productShow" + item.img, alt= item.productName)
                      .product-title.text-hidden(data-toggle="tooltip", data-placement="top", title=item.productName)  #{item.productName}
                      .line
                      .product-title  #{item.branchName}
            //- a.col-md-2.product(href="#")
            //-   img(src="/images/cate/2/1.png", alt="")
            //-   .product-title  精华系列
            //-   .line
            //-   .product-title  ESSENC
    // 公司动态
    .block
      .header
        .title 
          | GONGSIDONGTAI
          .title-text 公司动态      
      .block-content
        .news-box.clearfix
          .sec2
          .pic-wrap.wow.bounceInRight(data-wow-delay="0.5s")  
          a(href="/news/1").left
            .mask
            .inner-box.wow.bounceInUp
              | 德宇创星▪DUY生活馆
              br
              | 我们不一样
          .right
            .tit.wow.bounceInRight(data-wow-delay="1s") 与你曾经的所知、
            .des.wow.bounceInRight(data-wow-delay="1.4s") 
              | 所识，我们不一样
            
            .discount.clearfix
              .discount-text 德宇创星
              //- .discount-num.wow.bounceInLeft(data-wow-delay="0.2s") -20%
            //-.more MORE
       
        //-.more-btn
          | 更多动态
          br
          | MORE DYNAMIC
    #rank
      .store-wrap.top1    
        img.rank-num.wow.bounceInLeft(src="/images/top1.png", alt="") 
        .store-name.wow.bounceInLeft(data-wow-delay="0.4s")
          | DUY生活体验馆
          //- .address  茂业天地 二期 三层
      img.display(src="/images/top3.jpg", alt="")
      .store-wrap.top2   
        img.rank-num.wow.bounceInRight(src="/images/top2.png", alt="")
        .store-name.wow.bounceInRight(data-wow-delay="0.4s")
          | DUY生活体验馆
          //-.address  茂业天地 二期 三层
      .store-wrap.top3  
        img.rank-num.wow.bounceInLeft(src="/images/top3.png", alt="") 
        .store-name.wow.bounceInLeft(data-wow-delay="0.4s")
          | DUY生活体验馆
          //-.address  茂业天地 二期 三层
          
      .leaf-box
        img(src="/images/rank-sec1.png", alt="")
      .leaf-box2
        img(src="/images/rank-sec2.png", alt="")
    .block.cooperation
      .header
        .title 
          | HEZUOPINPAI
          .title-text 合作品牌    
      .block-content
        .row
          each val, index in [1, 2, 3, 4, 5, 6, 7, 8, 9]
            .col-lg-4
              img(src="/images/hezuo/" + val + ".jpg", alt="")
          
    .about
      .about-text
        img(src="/images/aboutTitle.jpg", alt="")  
        p 德宇创星▪DUY生活体验馆，是以“生活、服务、共享、科技、财富”为理念的高端服务品牌。DUY打破传统竞争瓶颈，致力于在全国范围内设立“千城万店”的全民高端生活体验馆，打造中国第一家共享服务式平台。
        p DUY以“3+N”“养护彩妆”为核心；以“共享”“科技”“个性化定制”为服务理念。同时，DUY为会员打造出“尊享”“分红”“增值”的机制。DUY致力于为消费者创造自然舒适的优质服务，完美演绎“科技亮肤，柔性之美” 
      .about-pic.pull-right
        img.prd-gb(src="/images/about-pic.jpg", alt="")
        img.about-prd-pic(src="/images/about-prd.png", alt="")
  
  script.
    $(function() {
      new WOW().init();
      $('[data-toggle="tooltip"]').tooltip()
    })
    
  
  
            
